<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="acct" value="unicer"/>
    <add key="baseURL" value="https://unicer-pilot.csod.com/AESSSODefault.aspx"/>
    <add key="aesKey" value="$secretString$"/>
    <add key="aesIV" value="$secretInt$"/>
    <add key="ouId" value="1"/>
    <add key="errorURL" value="https://unicer-pilot.csod.com/common/ssoerror.aspx"/>
    <add key="logoutURL" value="https://unicer-pilot.csod.com/common/ssologout.htm"/>
    <add key="timeoutURL" value="https://unicer-pilot.csod.com/common/ssotimeout.htm"/>
    <add key="destURL" value=""/>
  </appSettings>

</configuration>
